.wrapper {
  background: #ffffff;
  width: 1000px;
  margin: 0 auto;overflow: hidden;
  }
p{
  text-align: center;
}
  .head {
  margin-top: 0 auto; overflow: hidden;
  margin-left: 190px;

  padding: 20px;
  width: 750px;
  height: 850px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: #fff; text-align: center;
  
  }
  .head img{
  width: 750px;
  height: 400px;
  
  }
  
  #ff{position: fixed;
  }

  .sidebar {
  float:left;
  background: #a70f0f;
  width: 100px;
  height: auto;
  margin-right: 1900px;
  margin-top: -500px;
  padding: 20px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: #fff;
  text-align: left;
  position: fixed;
  }
  .sidebar img{
  width: auto;
  height: 75px;
  align-items: center;
  }


  .burger img{
  width: auto;
  height: 350px;
  align-items: center;

  }

  #burger {
  float:right;
  background: #a70f0f;
  width: 750px;
  height: 3600px;
  margin:20px 20px 20px 0;
  padding: 20px;
  border-radius: 7px; 
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: #fff;
  text-align: center;
  }
  #chiken {
  float:right;
  background: #a70f0f;
  width: 750px;
  height: 5700px;
  margin:20px 20px 20px 0;
  padding: 20px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: #fff;
  text-align: center;
  }
 #potato {
  float:right;
  background: #a70f0f;
  width: 750px;
  height: 4000px;
  margin:20px 20px 20px 0;
  padding: 20px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: #fff;
  text-align: center;
  }
#coke {
  float:right;
  background: #a70f0f;
  width: 750px;
  height: 2300px;
  margin:20px 20px 20px 0;
  padding: 20px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color: #fff;
  text-align: center;
  }
    

